@{
    //when this page executes the execution is physically top to bottom
    //this requires the developer to prop;erly create logic that the proper criterial paths are produced
    Layout = "~/_Layout.cshtml";
    Page.Title = "TextBox Sample";
    string enteredData = "";
    //Variables declared in the initial coding block are global to the ENTIRE webpage
    string name = "";
    string email = "";
}

@if (IsPost)
{
    //IsPost test wheter the page is 1st time or a post back from the browser
    //the value of the flag will be false on the 1st time on followup post backs the flag will be true

    //extract any need info (data) from the form
    //extracting data from a control uses Request.Form["controlname"]
    //C# coding so its case sensitive and spelling is important
    //if a control name cant be found then it returns null
    //ALL data come from the form will be a string

    //extract data
    name = Request.Form["csCodingName"];
    email = Request.Form["Email"];
    //note the name PressMe has been given to BOTH buttons
    //The data return from the control will be the data assigned to the value parameter
    // thus, theButton will have a value of either name or email, NOT both
    var theButton = Request.Form["PressMe"];

    //start your testing for your criterial path
    if (theButton.Equals("name"))
    {
        enteredData = name;
    }
    else
    {
        enteredData = email;
    }
}
else
{
    enteredData = "you have requested this page the 1st time";
}

@section banner{ <h3>Form Using TextBox</h3>}
<div>
    <form id="theForm" method="post">
        <table>
            <tr>
                <td>Enter your name:</td>
                <td><input type="text" id="javascriptname" name="csCodingName" value="@name"/></td>
            </tr>
            <tr>
                <td>Enter your Email:</td>
                <td><input type="text" id="Email" name="Email"  value="@email"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" id="Name" name="pressMe" value="name">Display Name&nbsp;&nbsp;&nbsp;</button>
                    <button type="submit" id="Email" name="pressMe" value="email">Display Email</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>@enteredData</label>
                </td>
            </tr>
        </table>
    </form>

</div>

